CompileFlags:
  Add: ["-Isrc/public", "-Isrc/game/public", -ferror-limit=999]
  Remove: ["-f*"]
  CompilationDatabase: src/

Diagnostics:
  UnusedIncludes: None
  Suppress:
    [
      "pp_including_mainfile_in_preamble",
      "unused-includes",
      "reference_bind_to_bitfield",
      "bad_cxx_cast_unrelated_class",
      "member_function_call_bad_type",
      "init_conversion_failed",
      "ovl_no_viable_member_function_in_call",
      ovl_no_viable_function_in_call,
      "template_arg_list_different_arity",
      function_marked_override_not_overriding,
      override_keyword_only_allowed_on_virtual_member_functions,
      typecheck_comparison_of_distinct_pointers,
      inconsistent-missing-override,
      undeclared_var_use
    ]

---

If:
  PathMatch: .*\.h


CompileFlags:
  Add: [-xc++]