// load the base configuration
//exec default.cfg
// Setup custom controller
exec joystick.cfg

// run a user script file if present
exec autoexec.cfg

//
// stuff command line statements
//
stuffcmds

hostname "Source Engine Co-Operative Base Modification."

mp_forcerespawn 0
